@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
--White:hsl(0, 0%, 100%);
--Black:hsl(0, 0%, 0%);
--DarkGray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
}
body{
width: 100%;
min-height: 100vh;
background-color: var(--White);
z-index: 1000;
overflow-x: hidden;
}
html{
  font-size: 62.5%;
}